<!doctype html>
<html ng-app="todoApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
</head>
<body>
<h2>Todo</h2>

<div ng-controller="TodoListController as todoList">
  <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
  [ <a href="" ng-click="todoList.archive()">archive</a> ]
  <ul class="unstyled">
    <li ng-repeat="todo in todoList.todos">
      <input type="checkbox" ng-model="todo.done">
      <span class="done-{{todo.done}}">{{todo.text}}</span>
    </li>
  </ul>
  <form ng-submit="todoList.addTodo()">
    <input type="text" ng-model="todoList.todoText" size="30"
           placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add">
  </form>
</div>

<h2>Simple Banker</h2>

<div ng-controller="TransactionListController as transactionList">
  [ <a href="" ng-click="transactionList.archive()">archive</a> ]
  [ <span>Balance {{transactionList.balance()}}</span> ]
  <ul class="unstyled">
    <li ng-repeat="transaction in transactionList.transactions">
      <input type="checkbox" ng-model="transaction.checked">
      <span class="checked-{{transaction.checked}}">{{transaction.text}} {{transaction.amount}}</span>
    </li>
  </ul>
  <form ng-submit="transactionList.addTransaction()">
    <input type="text" ng-model="transactionList.transactionText" size="30"
           placeholder="add new transaction here" id="transaction_text">
    <input type="text" ng-model="transactionList.transactionAmount" size="5" placeholder="$0">
    <input class="btn-primary" type="submit" value="add">
  </form>
</div>

</body>
</html>
