<!doctype html>
<html ng-app="bankerApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="banker.js"></script>
  <link rel="stylesheet" href="banker.css">
</head>
<body>

<h2>Simple Banker</h2>

<div ng-controller="TransactionListController as transactionList">
  Search: <input ng-model="query">
  <p>
  [ <a href="" ng-click="transactionList.archive()">archive</a> ]
  [ <span>Balance {{transactionList.balance()}}</span> ]
  <ul class="unstyled">
    <li ng-repeat="transaction in transactionList.transactions | filter:query">
      <input type="checkbox" ng-model="transaction.checked">
      <span class="checked-{{transaction.checked}}">{{transaction.text}} {{transaction.amount}}</span>
    </li>
  </ul>
  <form ng-submit="transactionList.addTransaction()">
    <input type="text" ng-model="transactionList.transactionText" size="30"
           placeholder="add new transaction here" id="transaction_text">
    <input type="text" ng-model="transactionList.transactionAmount" size="5" placeholder="$0">
    <input class="btn-primary" type="submit" value="add">
  </form>
</div>

</body>
</html>
