<!doctype html>
<html ng-app="bankerApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="banker.js"></script>
  <script src="js/xeditable.js"></script>
  <link rel="stylesheet" href="banker.css">
  <link rel="stylesheet" href="css/xeditable.css">
</head>
<body>


<div ng-controller="TransactionListController as transactionList" class="container">
  <h2>Simple Banker</h2>

  Search: <input ng-model="query">

  <!--<p>-->
  <!--[ <a href="" ng-click="transactionList.archive()">archive</a> ]-->

  <div class="col-md-8">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <!--<th>Total</th>-->
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="transaction in transactionList.transactions | filter:query | orderBy:'datetime'">
        <th editable-date="transaction.datetime" onbeforesave="checkDate($data)" e-required>{{transaction.datetime | date: 'dd/MM/yyyy'}}</th>
        <td editable-text="transaction.text">{{transaction.text}} </td>
        <td editable-text="transaction.amount" e-required="true" e-pattern="^-?\d+(\.\d+)?$" e-title="Only digits delimited by a dot">{{transaction.amount}}</td>
        <!--<td>@mdo</td>-->
      </tr>
      <tr>
        <td></td>
        <td>Total balance</td>
        <td>{{transactionList.balance() | currency}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <form ng-submit="transactionList.addTransaction()">
    <input type="date" ng-model="transactionList.transactionDate" size="5" required="true" ng-init="transactionList.transactionDate=currentDate">

    <input type="text"
           ng-model="transactionList.transactionText"
           size="30"
           placeholder="add new transaction here"
           id="transaction_text">
    <input type="text" ng-model="transactionList.transactionAmount" size="5" placeholder="$0" required="true" pattern="^-?\d+((\.|\,)\d+)?$" title="Only digits delimited by a dot">
    <input class="btn btn-default" type="submit" value="add">
  </form>
</div>
</body>
</html>

